body {
    color: #0094ff;
    font-family: "Consolas";
    font-size: 15px;
}

h3:first-letter {
    font-size: 35px;
    text-transform: uppercase;
    font-family: "EdwardianScriptITC";
}

@font-face {
    font-family: "EdwardianScriptITC";
    src: url("fonts/ITCEDSCR.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Consolas";
    src: url("fonts/consola.ttf");
    font-weight: normal;
    font-style: normal;
}