* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 40%;
    font: 12px sans-serif;
}

.header-table {
    background: #56B906;
    color: white;
}

td {
    padding-left: 10px;
    border: 1px solid grey;
}

.field-country {
    display: flex;
}

.name-country {
    margin: auto;
}

tr {
    width: 40%;
}

input {
    box-shadow: inset 1px 1px 3px black;
}

.grey-line {
    background: #ECECD8;
}