caption {
    padding-left: 5px;
    text-align: left;
    font-size: 20px;
    background: #999186;
}

.color-name {
    color: #D9CDBD;
}

table {
    width: 40%;
    background: #999186;
}

tr {
    height: 28px;
}

.name {
    color: #F0ED7C;
}

.link-to-public {
    text-align: center;
    padding-left: 50px;
}

.circle {
    width: 10px;
    height: 10px;
    float: left;
    margin: 3px 7px 3px 7px;
    border-radius: 50%;
    background: green;
}

.name-two {
    display: block;
    color: red;
    margin-left: 5px;
}

.status {
    color: sienna;
    font-weight: bold;
}

.form-labels {
    color: white;
    font-style: italic;
}