* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site {
    flex: 1;
}

header {
    background-color: #f6f9f9;
}

.container {
    width: 100%;
    padding: 0 200px;
}

.top-container {
    display: flex;
    align-items: center;
    height: 100px;

}

.logo-img {
    margin-right: 15px;
    width: 34px;
    height: 37px;
    background: url(../img/logo.png) no-repeat;
}

h1, h3 {
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    color: #2d3950;
}

.banner {
    height: 800px;
    background: url("../img/Banner.png") 50% 100% no-repeat;
}

hr {
    height: 2px;
    width: 600px;
}

.content {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {
    text-align: center;
    color: white;
}

h1 {
    font-size: 120px;
}

p {
    font-size: 20px;
    margin-top: 40px;
}

.transparent-button {
    outline: none;
    max-width: 177px;
    height: 54px;
    color: white;
    font-size: 18px;
    margin-top: 73px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #15a4fa;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.transparent-button:hover {
    box-sizing: border-box;
    font-size: 20px;
    background-color: #15a4fa;
}

.banner-icon-block {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-icon {
    cursor: pointer;
    width: 20px;
    height: 12px;
    margin-top: 20px;
}

.cont-top {
    padding-top: 80px;
}

.text-info {
    width: 100%;
    height: 330px;
    background-color: #f6f9f9;
}

h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
}

.text-info p {
    font-size: 20px;
    color: #999999;
    text-align: center;
}

.icon-group {
    display: flex;
    justify-content: space-between;
}

.icon-info {
    height: 345px;
}

.icon-info img {
    width: 100px;
    height: 100px;
}

.icon-info h4 {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    color: #2d3950;
}

.icon-info p, .portfolio p, .feedback p, footer p {
    font-size: 15px;
    color: #999999;
}

.icon-info p, .feedback p {
    margin-top: 20px;
}

.icon-block {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio {
    height: 800px;
    background-color: #f6f9f9;
}

.portfolio p {
    margin-top: 20px;
    margin-bottom: 80px;
}

.portfolio-group .portfolio-image {
    width: 300px;
    height: 210px;
    background-size: cover;
}

.portfolio-group {
    position: relative;
    overflow: hidden;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.bycicle {
    background: url("../img/bycicle.png") no-repeat;

}

.woman {
    background: url("../img/woman.png") no-repeat;

}

.cups {
    background: url("../img/cups.png") no-repeat;
}

.cup-with-tea {
    background: url("../img/cup-with-tea.png") no-repeat;

}

.bycicle-two {
    background: url("../img/bycicle-two.png") no-repeat;
}

.bycicle-three {
    background: url("../img/bycicle-three.png") no-repeat;
}

.mask:hover {
    opacity: 1;
}

.mask {
    width: 300px;
    height: 210px;
    cursor: pointer;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(21, 164, 250, 0.5);
}

.mask button {
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: #15a4fa;
    width: 28px;
    height: 28px;
    background-color: rgba(21, 164, 250, 0.5);
}

.mask button:hover {
    background-color: rgba(21, 164, 250, 0.8);
}

.mask i {
    color: white;
}

.feedback {
    height: 700px;
    background: url("../img/stay-with-us.png") 50% 100% no-repeat;
}

.feedback h2 {
    color: #ffffff;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

.form-group * {
    width: 50%;
}

.form-group * {
    height: 62px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #999999;
    border-radius: 3px;
}

.form-group textarea {
    padding-top: 20px;
    height: 162px;
    resize: none;
}

.form-group input, .form-group textarea {
    padding-left: 20px;

}

.form-group *::placeholder {
    color: #999999;
}

.form-group *:placeholder-shown {
    padding-left: 20px;
}

.form-group-checkbox {
    height: 30px;
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-group-checkbox label {
    cursor: pointer;
    margin-left: 10px;
    color: white;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #99a0a9;
    border-radius: 3px;
    outline: none;
    width: 15px;
    height: 15px;
}

input[type=checkbox]:checked:after {
    content: "\2714";
}

.form-group-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-button {
    margin-top: 0;
    width: 130px;
    height: 45px;
}

footer {
    padding-top: 20px;
    height: 80px;
    background-color: white;
}

.footer-group p {
    margin-top: 0;
    width: 200px;
}

.footer-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu {
    width: 175px;
    padding-left: 0;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.submenu li a i {
    color: white;
    text-align: center;
    line-height: 40px;
}

li {
    background-color: #15a4fa;
    width: 40px;
    list-style-type: none;
}

.facebook-icon:hover {
    background-color: #3b5998;
}

.twitter-icon:hover {
    background-color: #55acee;
}

.google-plus-icon:hover {
    background-color: #dd4b39;
}

.linked-in-icon:hover {
    background-color: #0976b4;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

