body {
    margin: 0 200px;
    min-width: 250px;
}
* {
    box-sizing: border-box;
}
.header {
    height: 70px;
    background-color: #FFB2B2;
}
h2 {
    margin: 5px;
    text-align: center;
    color: #FFFFFF;
}
#input {
    min-width: 70%;
    margin-left: 20px;
    margin-right: 0;
    border: none;
    padding: 3px;
    float: left;
    font-size: 12px;
}
.addBtn {
    cursor: pointer;
    display: inline-block;
    height: 28%;
    width: 20%;
    float: left;
    background-color: rgba(204, 204, 204, 0.8);
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid #FFFFFF;
}
.addBtn:hover {
    background-color: #CCCCCC;
}
#ul {
    cursor: pointer;
    height: auto;
    margin: 0;
    background-color: rgba(204, 204, 204, 0.8);
}
#ul li:first-child {
    padding: 6px 20px;
}
#ul li:last-child {
    border-bottom: none;
}
#ul li {
    height: 32px;
    padding: 5px 20px;
    list-style-type: none;
    color: #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
}
#ul li span {
    float: right;
}
#ul li span:hover {
    color: #FFB2B2;
}
#ul li:hover {
    background-color: #7A7A7A;
}
.fa-eye {
    margin: 3px 7px;
    float: right;
}
.fa-eye:hover {
    color: #FFB2B2;
}
.text {
    float: left;
}