body {
    background: #A9A9A9;
}

body > header, body > footer {
    text-align: center;
}

h1 {
    color: #F0E588;
}

li {
    list-style: none;
}

.current {
    background-color: rgba(237, 227, 205, 0.5);
}

a {
    text-decoration: none;
}

a:nth-last-of-type(1), a:nth-last-of-type(1), a:nth-last-of-type(1) {
    color: black;
}

article > footer p {
    font-size: 12px;
}

li > a:only-of-type {
    font-weight: bold;
    color: white;
}

li:last-child {
    text-decoration: underline;
}