body {
    margin-left: 50px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 50%;
    background-color: #3B3B3B;
}

header span {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

input {
    margin-left: 20px;
}

input::placeholder {
    padding-left: 10px;
    color: black;
}

input:last-child:focus {
    outline: none;
}

input:last-child:active {
    border-color: #EDEBEA;
    background: linear-gradient(to top, #BD2A2A, #FFFEF9);
}

input:last-child {
    width: 50px;
    height: 27px;
    border-radius: 35%;
    box-shadow: inset 0 -15px 15px red;
    border: 2px solid white;
    color: white;
}

.shadow {
    position: relative;
    top: -15px;
    transform: rotate(-180deg);
}

section {
    height: 270px;
    width: 50%;
    background-color: #4C4C4C;
}

h1, p {
    padding: 0 15px;
}

h1 {
    margin-top: 0;
    color: #FCD61D;
}

p {
    margin: 0;
    color: #A2A2A2;
    font-weight: normal;
}

span {
    color: white;
    font-size: 14px;
}