body {
    margin: 50px 250px;
}

header, section {
    box-sizing: border-box;
    width: 80%;
    background-color: #1E3741;
}

header {
    display: flex;
    justify-content: end;
}

header {
    border-radius: 20px 20px 0 0;
    height: 60px;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

header ul, section {
    padding: 0 10px;
}

header ul {
    line-height: 30px;
    font-size: 16px;
    text-transform: uppercase;
}

a {
    display: block;
    text-decoration: none;
    color: #738A90;
}

header ul li a:hover {
    background: #1E3741;
}

header ul li {
    width: 100px;
    text-align: center;
    height: 30px;
}

header ul li:not(.news) {
    background-color: #4B5F67;
}

.sport, .in-world {
    width: 70px;
}

.financy, .reporter {
    width: 100px;
}

.interesting {
    width: 125px;
}

section {
    height: 300px;
}

aside {
    width: 35%;
}

aside div {
    float: left;
    color: #738A90;
    height: 45px;
    border-top: 1px solid #364B54;
}

section {
    border-radius: 0 0 20px 20px;
}