body {
    font-family: 'EB Garamond', serif;
}

.title {
    color: white;
    height: 150px;
    background-color: black;
    padding: 25px 50px;
    text-align: center;
}

.title h1 {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px;
}

.about-me h1 {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: "Caudex" serif;
}

.title p {
    margin-top: 20px;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: #D3B8A8;
}

nav {
    position: absolute;
    bottom: 40px;
    height: 30px;
    line-height: 30px;
    width: 300px;
    background-color: black;
}

.cover {
    position: relative;
    background: url("img/mak.jpg") 100% 100% no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 600px;
}

.photo {
    background: url("img/model-girl.jpg") 100% 100% no-repeat;
    background-size: cover;
    background-position: 0 0;
    width: 35%;
    height: 600px;
}

.magazine {
    display: flex;
    justify-content: center;
}

.about-me p {
    text-align: center;
}

.text {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.text p {
    width: 300px;
}

.date {
    margin-top: 0;
}

footer {
    color: white;
    display: flex;
    margin: auto;
    width: 70%;
    height: 70px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.social-icons i {
    margin-right: 20px;
}

.social-icons i:hover {
    cursor: pointer;
}

.social-icons i:last-child {
    margin-right: 0;
}
