
a {
    margin-left: 50px;
}

a:first-child {
    margin-left: 0;
}

.main_block {
    width: 400px;
}

hr {
    width: 350px;
    margin-left: 0;
}

p {
    font-size: 24px;
    color: #024874;
}

p:first-child {
    color: #0245;
}
img {
	width: 192px;
	height: 176px;
}