* {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: #696859;
    border-bottom: 3px solid #B0B0AC;
}

header p {
    text-align: center;
    font: 34px Bergamot;
    color: #363533;
    line-height: 80px;
}

section > div {
    width: 25%;
}

section {
    display: flex;
}

#one-block {
    background-color: #363533;
}

#two-block {
    background-color: #9C9955;
}

#three-block {
    background-color: #2E3742;
}

#four-block {
    background-color: #596469;
}
.block >.date{
    cursor: pointer;
    height: 15px;
    font: 20px "Courier New";

}
.block > .date:hover{
    color: #BABAB6;
}
.block > p {
    height: 50%;
    margin-top: 20px;
    margin-left: 15px;
    padding-right: 15px;
    color: #D9D9D4;
}

@font-face {
    font-family: Bergamot;
    src: url("fonts/Bergamot.ttf") format("truetype");
}