body{
    background-color: cadetblue;
}
 .frog-with-cloth-mouth {
     background: no-repeat;
     position: absolute;
     top: 90px;
     left: 100px;
 }
 .mosquito{
     position: absolute;
 }
.removed{
    position: absolute;
    transition: ease 2s;
    transform: scale(0);
}