* {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0 165px;
}

nav {
    z-index: 999;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
}

.logo {
    cursor: pointer;
    font: 41px "lavanderia";
    display: flex;
    align-items: center;
    height: 90px;
}

.logo p {
    color: #000000;
}

.logo span {
    color: #b73958;
}

.button-login {
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 87px;
    height: 27px;
    background-color: #de6d6e;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-login:hover {
    background-color: #C25F60;
}

.button-login::after {
    text-transform: capitalize;
    color: #ffffff;
    font: 17px "Segoe";
    content: "login";
}

.fas {
    width: 26px;
    color: white;
}

.menu {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    font: 17px "Segoe";
    text-transform: capitalize;
    color: #454545;
}

.menu:hover {
    color: #666666;
}

.menu li {
    list-style-type: none;
}

.logo-and-nav {
    display: flex;
    align-items: center;
}

.banner {
    width: 100%;
}

.img-banner {
    display: flex;
    align-items: flex-end;
    height: 590px;
    width: 100%;
    background: url("../img/bannerr.png") 50% 0% no-repeat;
    background-size: 100%;
    text-align: center;
}

.img-banner h1 {
    text-transform: uppercase;
    color: #ffffff;
    font: 69px AlteHaasGroteskBold;
}

.img-banner p {
    color: #ffffff;
    font: 25px "UniversLT_Light";
}

.text-content {
    height: 170px;
}

.cont-top {
    padding-top: 50px;
}

section:nth-of-type(1) {
    height: 465px;
    border-bottom: 3px solid #e9e9e9;
}

.text-info {
    font-family: "UniversLT_Light";
    text-align: center;
}

.text-info h3 {
    font-size: 35px;
    color: #404040;
}

.text-info p {
    padding-top: 20px;
    font-size: 17px;
    color: #636363;
}

.icon-info {
    padding-top: 30px;
}

.icon-group {
    display: flex;
    justify-content: space-around;
    font: 17px "UniversLT_Light";
    color: white;
    text-align: center;
}

.icon-group p {
    padding-top: 10px;
}

.icon-group > div {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tickets {
    width: 180px;
    height: 180px;
    background-color: #4eb9f4;
}

.tickets img {
    width: 80px;
    height: 82px;
}

.camera {
    width: 180px;
    height: 180px;
    background-color: #6fc125;
}

.camera img {
    width: 80px;
    height: 70px;
}

.beer {
    position: relative;
    width: 180px;
    height: 180px;
    background-color: #ff5649;
    background-image: url("../img/beer.png");
    background-repeat: no-repeat;
    background-position: 55% 30%;
}

.beer:hover {
    background-image: url("../img/beer-hover.png");
}

.beer p {
    margin-top: 75px;
}

.beer:hover {
    color: rgba(255, 255, 255, 0.4);
}

.devices {
    width: 180px;
    height: 180px;
    background-color: #e48f23;
}

.devices img {
    width: 76px;
    height: 76px;
}

.mask {
    width: 160px;
    height: 170px;
    text-align: center;
    line-height: 170px;
    opacity: 0;
    font: 12px "UniversLT_Light";
    color: white;
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 0;
    top: 30px;
}

.mask:hover {
    z-index: 12;
    opacity: 1;
}

.news-feed {
    height: 670px;
}

.img-news {
    width: 199px;
    height: 132px;
    background: url("../img/news-feed.png") no-repeat;
}

.news-content {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-news {
    width: 740px;
    color: #404040;
    font: 27px "UniversLT_Light";
}

.text-news p {
    padding-top: 15px;
    color: #8b8b8b;
    font-size: 15px;
}

.news-feed-group {
    display: flex;
    justify-content: space-around;
}

.footer-content {
    background: url("../img/footer.png") 50% 100% no-repeat;
    background-size: 100%;
    height: 260px;
}

.sub-group {
    font-family: "UniversLT_Light";
    display: flex;
}

.sub-group h3 {
    padding-bottom: 10px;
}

.sub-group p {
    font-size: 15px;
}

.submenu p {
    cursor: pointer;
}

.submenu p:hover {
    color: #737373;
}

.sub-group p, h3 {
    color: #8b8b8b;
}

.menu-icons {
    padding-left: 0;
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.menu-icons > li {
    list-style-type: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #696b6a;
}

.menu-icons > li:hover {
    background-color: #5E5E5E;
}

.menu-icons i {
    text-align: center;
    line-height: 50px;
    color: black;
}

.share .fas {
    width: 45px;
}

.right-submenu-group {
    margin-top: 15px;
}

.right-submenu-group p {
    padding-top: 20px;
}

@font-face {
    font-family: lavanderia;
    src: url("../fonts/lavanderia regular.otf");
}

@font-face {
    font-family: UniversLT_Light;
    src: url("../fonts/UniversLT_Light.otf");
}

@font-face {
    font-family: Segoe;
    src: url("../fonts/Segoe.ttf") format("truetype");
}

@font-face {
    font-family: AlteHaasGroteskBold;
    src: url("../fonts/AlteHaasGroteskBold.ttf") format("truetype");
}

/*# sourceMappingURL=styles.css.map */
