.name {
    text-align: right;
    font-weight: bold;
    width: 100px;
    font-family: sans-serif;
}
.required::after {
	content: "*";
	color: red;
}

.input-field {
    width: 550px;
}

input {
    padding: 0;
}

table {
    border-collapse: collapse;
}

tr {
    height: 25px;
}

textarea {
    resize: none;
}

.gender {
    width: 100px;
}

select {
    width: 250px;
}

.footer_buttons {
    text-align: center;
}
