
section {
    height: 100%;
    width: 35%;
    background-color: #EEEEEE;
}

p {
    padding-top: 15px;
    padding-left: 40px;
    font-family: "Courier New";
    text-transform: capitalize;
}

figure {
    padding: 20px;
    background-color: white;
    border: 1px solid black;
}

.buttons {
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
}

input:active {
    background-color: #9E1220;
}

input:focus {
    outline: none;
}

input:first-child {
    margin-right: 5px;
}

input {
    border-color: #EC7674;
    background: linear-gradient(to left, #C40000 75%, #750D18 75%);
    color: white;
    font-size: 12px;
    width: 75px;
    height: 25px;
}

img {
    margin-right: 10px;
    border: 1px solid black;
    float: left;
}
