* {
    box-sizing: border-box;
}

table {
    width: 20%;
    height: 240px;
    border-collapse: collapse;
    border: 3px solid #7590FF;
    display: flex;
}

.screen {
    width: 262px;
    height: 60px;
    border-color: #7590FF;
    text-align: right;
    padding: 10px;
}

.button {
    border-color: #7590FF;
    border-radius: 30%;
    width: 64px;
    height: 40px;
    background-color: #B4BBEC;
}

input[value] {
    font-size: 28px;
    color: #5A6169;
    text-shadow: #5A5F78 2px 1px 4px;
}

input[value="."] {

}

input:focus {
    outline: none;
}

input:active {
    background-color: white;
}

.number-zero {
    width: 130px;
}
