* {
    margin-top: 50px;
}

.scroll-slider {
    position: relative;
    width: 350px;
    height: 8px;
    background: linear-gradient(to right, #FFC216 30%, white 30%);
    border: 2px solid #C2BBBF;
    border-radius: 10px;
}

.circle-slider {
    position: absolute;
    top: -60px;
    left: 100px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: white;
    border: 4px solid rgba(194, 187, 191, 0.2);
}

/*
input[type="range"] {
    -webkit-appearance: none;
    margin: 50px;
    width: 20%;
}

input[type="range"]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    border-radius: 10px;
    height: 10px;
    cursor: pointer;
    background: white;
    border: 2px solid #C2BBBF;
}
input[type=range]::-webkit-slider-runnable-track:hover{
    box-shadow: inset 0px 0px 30px rgba(0,0,0,0.9);
    background: #D7D8F1;
}
[type="range"]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000;
    border: 4px solid rgba(194,187,191,0.3);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13px;
}*/
