.fa-envelope{
    position: relative;
}
.count-message{
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    line-height: 45px;
    font-size: 22px;
    color: white;
}